<div class="jumbotron jumbotron-fluid">
     <div class="container">
           <div class="row" style="padding-bottom: 20px;" >
               <div class="col">
                  <h1>Music Without<br>Limits</h1>  
                  <p>Premium lets you listen anytime, even offline, no adds, no restrictions</p>
                  
                  <a href="https://www.spotify.com/in/purchase/offer/1-month-trial/" class="btn btn-primary" role="button">Get Premium</a>
                </div>
                <div class="col">
                    <img src="https://lestimes.com/wp-content/uploads/2016/11/Microphone.jpg" width="350" height="250">
                </div>
           </div>
      
        
     </div>        
</div>   

<div class="container">
    <table>
        <tr>
            <td>Username :</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>Email :</td>
            <td>{{email}}</td>
        </tr>
        <tr>
            <td>User ID :</td>
            <td>{{userID}}</td>
        </tr>
        <tr>
            <td>Followers :</td>
            <td>{{followers}}</td>
        </tr> 
        <tr>
            <td>Country :</td>
            <td>{{country}}</td>
        </tr>       
        
    </table>
</div>